/target
/local
/.project
/.classpath
/.settings
/test-output
src/main/resources/app-info.txt
src/main/resources/local.properties
src/main/resources/user-queries.yaml
src/main/resources/*-user-queries.yaml
src/main/resources/administrators.yaml
/dependency-reduced-pom.xml
/.idea
/*.iml
dependencies-provided.ts
gitLog.log
.DS_Store
*~
**/#*#
